@font-face {
    font-family: 'Permanent Marker';
    src: url(http://fonts.googleapis.com/css?family=Permanent+Marker);

    font-family: 'Permanent Marker';
    src: url(http://fonts.googleapis.com/css?family=Open+Sans);
}

.welcome {
  opacity: 100%;
  font-family: 'Permanent Marker', cursive;
}
.logo{
  position: absolute;
  top: 50%;
  left: 50%;
}
.explore_bt{
  position: absolute;
  top: 80%;
  left: 20%
}
.create_bt{
  position: absolute;
  top: 80%;
  left: 80%;
}
.create{
  font-family: 'Open Sans', sans-serif;
}
.explore{
  font-family: 'Open Sans', sans-serif;
}
#header{
  position: absolute;
  top: 80%;
  left: 80%;
}
.camera{
  position: absolute;
  top: 0;
  left: 0;
}
#footer{
  position: absolute;
  bottom: 80%;
  max-width: 100%
}
